<nav class="bg-secondary-subtle py-2">
	<ul class="d-flex ">
		<li class="text-decoration-none me-3">
			<a href="{{path('app_home')}}">Home</a>
		</li>
		<li class="list-decoration-none me-3">
			<a href="{{path('app_people')}}">People</a>
		</li>

	</ul>
</nav>
